<div>
  <div class = "container home">
    <div class = "home_header">
      <h1 class="ybl_header">Your WanderList</h1>
      <p> Create your own Wanderlists for the places you've explored,
          and the ones yet to see!</p>
    </div>
  </div>
</div>
