<p>City: <%= @destination.city %></p>
<p>Country: <%= @destination.country_id %></p>


<form action="/destinations/<%= @destination.id %>/delete" method="post">
  <button type="submit">Delete</button>
</form>

<a href="/destinations/<%= @destination.id %>/delete">Delete Entry</a>
