<form action="/destinations/<%= @destinations.id %>/delete" method="post">
  <label for="city">City:</label>
    <input id="city" type="text" name="city"/>
  <button type="submit">Delete Entry</button>
</form>
