  <form action="/destinations/<%= destination.id %>/delete" method="post">
  <label for="city">City:</label>
  <select id="destination" name="destination">
    <% for destination in @destinations %>
      <option value="<%= destination.id %>">
          <%=   %>
      </option>
    <% end %>
  </select>

  <td><form action="/destinations/<%= destination.id %>/delete" method = "post">
    <button type="submit">Delete</button>
  </form></td>
</form>
