<% @destinations_visited.each do|destination|%>
<p> city: <%= destination.city %> </p>
<p> visited: <%= destination.visited %> </p>
<p> country: <%= destination.find_country.country %> </p>
<% end %>
