<a href="/destinations/visited">See Visited Destinations</a>
<a href="/destinations/bucketlist">See Bucketlist Destinations</a>
<% @destinations.each do|destination|%>
<p> city: <%= destination.city %> </p>
<p> visited: <%= destination.visited %> </p>
<p> country: <%= destination.find_country.country %> </p>
<% end %>
