<a href="/destinations/visited">Visited Destinations</a>
<a href="/destinations/bucketlist">Bucketlist Destinations</a>
<a href="destinations/new">Create Destinations</a>
<a href="/destinations/:id/delete">Delete Destinations</a>
<% @destinations.each do|destination|%>
<p> City: <%= destination.city %> </p>
<p> Visited: <%= destination.visited %> </p>
<p> Country: <%= destination.find_country.country %> </p>
<% end %>
