<form method="POST" action="/countries">
  <label for="country-name-input">Country Name</label>
  <input type="text" id="country-name-input" name="country">
  <input type="submit" value="Create Country">
</form>
